:local(.category) {
	padding: 20px;
	min-height: 100%;
	width: 100%;
}

/* stylelint-disable-next-line */
@value vlRowHeight: 22px;

:local(.vlRow) {
	width: 100%;
	height: vlRowHeight;
	overflow: hidden;
}
