@value imgHeight from "../card/style.css";
 
:local(.media) {
	background-position: center center;
	background-size: auto 100%;
	background-repeat: no-repeat;
	height: imgHeight;
}

:local(.m) {
	margin-bottom: 8px;
}
