@import "@material/theme/mixins";
@import "preact-material-components/TopAppBar/mdc-top-app-bar.scss";

.home {
	padding-top: $mdc-top-app-bar-row-height;
	//min-height: 100%;
	width: 100%;
}

@import "preact-material-components/Button/_variables.scss";
@import "../../lib/css/container.scss";

.container {
	@extend :global(.mdc-horizontal-scroll-container);
	min-height: $mdc-button-height;

	a {
		vertical-align: top;
	}

	div[vertical] {
		min-height: $mdc-button-height;
	}
}

.hbar {
	@include mdc-theme-prop(background-color, primary);
	@include mdc-theme-prop(color, on-primary);
	  
	text-align: center;
	text-transform: uppercase;
	margin-top: 4px;
}

.invis {
	visibility: hidden;
}