/*
 * https://codeburst.io/4-four-ways-to-style-react-components-ac6f323da822
 * https://medium.com/@pioul/modular-css-with-react-61638ae9ea3e
 */

/*
 * https://npm.taobao.org/package/postcss-modules-values
 * make local aliases to imported values
 */

@value small as bp-small, medium as bp-medium, large as bp-large from "../../../assets/breackpoints.css";
 
@media bp-small {
	@value imgHeight: 130px;
}

@media bp-medium {
	@value imgHeight: 140px;
}

@media bp-large {
	@value imgHeight: 150px;
}

:local(.card) {
}

:local(.media) {
	background-position: center center;
	background-size: auto 100%;
	background-repeat: no-repeat;
	height: imgHeight;
}

:local(.m) {
	margin-bottom: 8px;
}
