.bar {
	list-style-type: none;
	padding: 0;
	margin: 0;
	width: auto;
	height: auto;
	position: fixed;
	bottom: 0.5rem;
	right: 0.5rem;
	z-index: 4;

	@media(min-width: 1024px) {
		.bar {
			bottom: 1rem;
			right: 1rem;
		}
	}
		
	li {
		margin-top: 4px;
	}
}
