.bar {
	//list-style-type: none;
	padding: 0;
	margin: 0;
	width: auto;
	height: auto;
	position: fixed;
	bottom: 0.5rem;
	right: 0.5rem;
	z-index: 4;

	@media(min-width: 1024px) {
		.bar {
			bottom: 1rem;
			right: 1rem;
		}
	}
	
	@media(min-width: 1024px) {
		.bar {
			bottom: 1rem;
			right: 1rem;
		}
	}

	> * {
		display: block;
		margin-bottom: 2px;
		text-align: center;
	}

	> *:last-child {
		margin-bottom: 0;
	}

	> a {
		text-align: center;
	}
	
	> a:global(.mdc-fab) > i {
		margin-top: 16px;
	}

	> a:global(.mdc-fab--mini) > i {
		margin-top: 8px;
	}
}

.invis {
	visibility: hidden;
}

.vis {
	visibility: visible;
}

:global(.mdc-fab--disabled) {
	background-color: white;
	color: rgba(0, 0, 0, 0.37);
	cursor: default;
	pointer-events: none;
}
