:local(.login) {
	padding: 20px;
	min-height: 100%;
	width: 100%;
}

:local(.button) {
	margin-top: 4px;
	margin-right: 4px;
}

:local(.radio) {
	vertical-align: middle;
}

:local(.snackbar) {
	z-index: 9999;
}
